version: '3.8'

services:
  cinema-club:
    image: ivansstef/cinemaclub:latest
    container_name: {{ app_name }}
    ports:
      - "{{ app_port }}:80"
    restart: unless-stopped
    volumes:
      - {{ app_dir }}:/usr/share/nginx/html:ro
    networks:
      - cinema-network

networks:
  cinema-network:
    driver: bridge
